<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Odd or Even</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<div class="mx-auto p-5" style="width: 800px;">
    <div class="mx-auto p-5 text-center" style="width: 800px;">

        <h1>Udda eller jämnt</h1>
        <h2 class="mt-5"><span th:text="${randomInt}"></span></h2>
        <form action="/submitGuess" method="post">
            <input type="hidden" name="randomInt" th:value="${randomInt}" />
            <button type="submit" name="guess" value="odd" class="btn btn-dark p-3 m-3">Udda</button>
            <button type="submit" name="guess" value="even" class="btn btn-dark p-3 m-3">Jämnt</button>
        </form>

        <p>Antal poäng: <span  class="fw-bold" th:text="${score}">Antal poäng: </span></p>

        <a href="/oddOrEven">
            <button type="submit"  class="btn btn-secondary p-3 m-3">Börja om</button>
        </a>

        <a href="http://localhost:8080/">
            <button type="submit"  class="btn btn-secondary p-3 m-3">Till Startsidan</button>
        </a>
    </div>
</div>
</body>
</html>
